@import 'assets/fonts/fonts.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 2;
}

:root {
  --color-background: #1e1f1e;
  --color-text-primary: #f5f3f2;
  --color-text-secondary: #d6d7d9;
  --color-text-hint: #7a7b7c;
  --color-text-inverted: #222;
  --color-ui-primary: #f09f1e;
  --color-ui-primary-50: rgba(240, 159, 30, 0.5);
  --color-danger: #b83333;
  --font-safe: Tahoma, Geneva, Verdana, sans-serif;
  --font-primary: Montserrat, var(--font-safe);
  --font-secondary: BebasNeue, var(--font-safe);
  --font-naruto: NinjaNaruto, var(--font-safe);
}

body {
  color: var(--color-background);
  font-family: var(--font-primary);
}

#root {
  position: relative;
  height: 100vh;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='tel'],
input[type='search'] {
  outline: none;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  appearance: none;
}

a {
  text-decoration: none;
}
